
/*BODY*/

body {
  padding: 0px;
  margin: 0px;
  background-color: black;
  font-family:'-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu, Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif; 
}


/*NAVBAR*/

.navbar {
    background: rgba(0,0,0,0.6) !important;
    height: 3cm;
  }
  
.navbar .navbar-brand {
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #fed4b4;
    font-size: 1.4em;
    margin-left: 5%;
  }

.navbar-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #f8cdb0;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  }
  
.navbar-text:hover {
  color: #f9d2a8;
  cursor: pointer;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  }
  
.nav-item {
  margin-left: 40px;
  }
  
.navbar .nav-item a {    
  font-weight: 500;
  color: #f3e2b3;
  font-weight: bolder;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  }
  
.nav-item:hover a {
  color: #f7d2b0;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  }
/*END OF NAVBAR*/

/*PIZZA ORDER*/
.pizza-order,
.pizza-orderlist {
	height: 100vh;
	position: relative;
}

.pizza-orderlist,
.view-cart,
.error-modal,
.checkout-modal {
	display: none;
}
.form-container {
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 10px 4px 4px 4px;
	box-shadow: 0 0 10px rgba(41, 40, 40, 0.301);
  opacity: .85;
}

.left-col {
	background: linear-gradient(
		180deg,
		rgba(231, 166, 106, 0.84) 6.25%,
		rgba(242, 105, 113, 0) 100%
	);
	border-radius: 10px 4px 4px 4px;
}

.left-col-img img {
	margin-left: 40px;
	border-radius: 3px;
	padding-bottom: 40px;
}

.steps-number {
	position: relative;
	background-color: #f2a969;
	text-align: center;
	padding: 5px 9px;
	color: #fff;
	border-radius: 50%;
	font-weight: bold;
}
.steps-text {
	font-size: 18px;
}
label,
input {
	cursor: pointer;
}

select.form-control {
	background-color: #f2b469;
	color: #fff;
}

input[type="checkbox"] {
	background-color: #e37d4e;
}

.order-summary {
	background: linear-gradient(
		180deg,
		rgba(202, 125, 73, 0.84) 6.25%,
		rgba(242, 105, 113, 0.3) 100%
	);
}

.order-item td {
	font-size: 12px;
}


/*END OF PIZZA ORDER*/

.checkout-container,
.feedback-container {
	height: fit-content;
	top: 10%;
	cursor: text;
	color: #fff;
	line-height: 3em;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.692);
	display: none;
	z-index: 2;
}

.checkout-overlay {
	z-index: 1;
}

.checkout-container input {
	cursor: text;
}

.checkout-modal {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url(/images/cheesetopping.jpg);
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
}
.error-overlay,
.checkout-overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.397);
	height: 100%;
	width: 100%;
	z-index: 3;
}

.error-container,
.checkout-container,
.feedback-container {
	background-color: #f2b269ce;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.692);
	border-radius: 4px;
	height: 90px;
	line-height: 45px;
	top: 0;
	left: 50%;
	position: absolute;
	text-align: center;
	transform: translate(-50%, 0);
	width: 30em;
	z-index: 5;
}
.close-error {
	background-color: #fff;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	line-height: 30px;
	font-weight: bold;
	position: inherit;
	right: 0;
	margin: 3px 3px 0 0;
}

.error {
	padding: 20px 20px;
	font-size: 18px;
}

.close-error:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.568);
	color: #f2b769;
	cursor: pointer;
	transition: all 0.2s;
}