
/*BODY*/

body {
  padding: 0px;
  margin: 0px;
  background-color: black;
  font-family:'-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu, Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif; 
}


/*NAVBAR*/

.navbar {
    background: rgba(0,0,0,0.6) !important;
    height: 3cm;
  }
  
.navbar .navbar-brand {
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #fed4b4;
    font-size: 1.4em;
    margin-left: 5%;
  }

.navbar-text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #f8cdb0;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  }
  
.navbar-text:hover {
  color: #f9d2a8;
  cursor: pointer;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  }
  
.nav-item {
  margin-left: 40px;
  }
  
.navbar .nav-item a {    
  font-weight: 500;
  color: #f3e2b3;
  font-weight: bolder;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  }
  
.nav-item:hover a {
  color: #f7d2b0;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  }
/*END OF NAVBAR*/

/*PIZZA ORDER*/
.pizza-order,
.pizza-orderlist {
  height: 100vh;
  position:relative;
}

.pizza-orderlist,
.view-cart {
  display: none;
}

